@charset "utf-8";

body {
  background-image: url(../images/bg.png);
  font-size: 16px;
  font-family: 'arial','Apple SD Gothic Neo','NanumGothic',sans-serif;
  color: #333333;
}
header {
  width: 1240px;
  margin: 0 auto 44px;
}
h1 {
  text-align: center;
  padding: 20px 0px 16px;
}
header nav ul {
  display: flex;
  justify-content: center;
  border-top: 2px solid #7c5d48;
  border-bottom: 2px solid #7c5d48;
  background-color: rgba(255,255,255,0.42);
  padding: 12px 0px 10px;
}
header nav ul li {
  margin: 0 20px;
}
header nav ul li a {
  font-size: 22px;
  font-weight: bold;
  color: #7c5d48;
}
header nav ul li a:hover {
  text-decoration: underline double;
}