@charset "utf-8";

body {
  font-family: 'Catamaran','Noto Sans KR',sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
}
img {
  max-width: 100%;
}
.topPage header {
  height: 90vh;
  background: url(../images/top_bg.jpg) no-repeat center top/cover;
  padding-top: 50px;
  margin-bottom: 64px;
}
.topPage header h1 img {
  width: 240px;
}
.topPage header h1 {
  text-align: center;
}
.linkList {
  padding: 0 20px;
}
.linkList li {
  margin-bottom: 40px;
}
.linkList li a {
  display: block;
  background-color: #f5f5f5;
}
.linkList li a span {
  display: block;
  padding: 12px 15px 10px;
  font-size: 18px;
}
.linkList li a:hover {
  filter: brightness(105%);
}
.subPage header {
  border-top: 14px solid #f5f5f5;
  padding-top: 40px;
  margin-bottom: 30px;
}
.subPage header h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: .17em;
  text-transform: uppercase;
}
.subPage header h1 span {
  background-image: linear-gradient(135deg,#e6ba5d 0%,#9ac78a 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.subPage h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .17em;
  margin-bottom: 10px;
}
.subPage .lead {
  text-align: center;
  margin-bottom: 30px;
  font-size: 11px;
  letter-spacing: .05em;
  line-height: 2;
}
.subPage h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.subPage main {
  padding: 0 20px;
}
footer {
  background: url(../images/footer_mt.svg) no-repeat right top/200px;
  margin-top: 60px;
  padding-top: 68px;
}
footer p {
  background-color: #f5f5f5;
}
footer p img {
  width: 188px;
  transform: translateY(-28px);
}
.conceptDetailSec p img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: center 90%;
}
.conceptDetailSec .text {
  font-size: 12px;
  line-height: 1.78;
}
.conceptDetailSec {
  margin-bottom: 50px;
}
.conceptDetailSec .photo {
  margin-bottom: 14px;
}
.menuList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.menuList li {
  flex-basis: 42%;
  margin-bottom: 28px;
}
.menuList li img {
  filter: drop-shadow(1px 2px 3px #dddddd);
}
.menuDetailSec {
  margin-bottom: 50px;
}
.map iframe {
  width: 100%;
  height: 240px;
  margin-bottom: 8px;
}
.map {
  font-size: 12px;
  margin-bottom: 60px;
}
.photoGallery {
  display: grid;
  grid-template-rows: 40vw 30vw 30vw 40vw 40vw;
  grid-template-columns: 50% 50%;
}
.item01 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
.item02 {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}
.item03 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
.item04 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
.item05 {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}
.item06 {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
}
.item07 {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
}
.photoGallery li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 920px) {
  .topPage {
    display: flex;
  }
  .topPage header {
    flex-basis: 38%;
  }
  .topPage main {
    flex-basis: 62%;
  }
  .linkList {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-around;
  }
  .linkList li {
    flex-basis: 47%;
    margin-bottom: 20px;
  }
  .linkList::before {
    content: "";
    width: 47%;
    background: url(../images/top_pclogo.svg) no-repeat center center/72%;
  }
  .topPage main {
    display: flex;
    align-items: center;
  }
  .topPage header {
    height: 100vh;
    margin-bottom: 0;
  }
}