@charset "utf-8";
body {
  font-family: 'Noto Serif KR', serif;
  font-size: 18px;
  color: #121212;
}
.ffJosefin {
  font-family: 'Josefin Sans',sans-serif;
}
.innerWrap {
  width: 1240px;
  margin: 0 auto;
  padding: 80px 20px 0;
}
main h2 {
  text-align: center;
  font-size: 60px;
  letter-spacing: .05em;
  margin-bottom: 80px;
}
header {
  background: url(../images/hero.jpg) no-repeat right center/cover;
}
header .innerWrap {
  height: 720px;
  position: relative;
}
header h1 {
  padding-top: 120px;
}
header .scroll {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
header .scroll img {
  margin-top: 8px;
}
header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  width: 1240px;
  margin: 0 auto;
  padding: 10px 20px;
}
header nav ul li a:hover {
  text-decoration: underline;
}
.msgSec {
  background-color: #fbfaf7;
}
.msgSec p {
  text-align: center;
  line-height: 1.75;
  margin-bottom: 40px;
}
.msgSec p.illust {
  margin-top: 80px;
  margin-bottom: 0;
  position: relative;
}
.msgSec p.illust::before {
  content: url(../images/deco_left.png);
  position: absolute;
  left: 320px;
  bottom: -30px;
}
.msgSec p.illust::after {
  content: url(../images/deco_right.png);
  position: absolute;
  right: 320px;
  bottom: -30px;
}
.dateSec {
  background-color: #ffffff;
  padding-bottom: 120px;
}
.dateSec .layoutWrap {
  display: flex;
}
.dateSec .layoutWrap > p {
  flex-basis: 735px;
}
.dateSec .layoutWrap > div {
  flex-basis: 465px;
  padding-top: 100px;
}
.dateSec .dateDetailSec {
  font-size: 72px;
  margin: 0 0 170px -100px;
  background-color: #ffffff;
  padding: 40px 64px;
  line-height: 1.2;
}
.word1 {font-size: 50px;}
.word2 {font-size: 40px;}
.word3 {font-size: 60px;}
.accessSec {
  margin-left: 48px;
}
.accessSec h3 {
  color: #cfafa3;
  font-size: 55px;
  letter-spacing: .05em;
  margin-bottom: 8px;
}
.accessSec p {
  line-height: 1.6;
}
.formSec {
  background-color: #efe8d9;
  padding-bottom: 60px;
}
form {
  width: 600px;
  margin: 0 auto;
}
input[type="text"],
input[type="email"],
select,
textarea {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  width: 100%;
  margin-top: 5px;
  padding: 4px 8px;
}
input[type="radio"],
input[type="checkbox"] {
  width: 16px;
  height: 16px;
  vertical-align: baseline;
  margin-right: 4px;
}