@charset "utf-8";
body {
  font-family: 'Noto Serif KR', serif;
  font-size: 18px;
  color: #121212;
}
.ffJosefin {
  font-family: 'Josefin Sans',sans-serif;
}
.innerWrap {
  border: 4px solid lightblue;
  width: 1240px;
  margin: 0 auto;
  padding: 80px 20px 0;
}
main h2 {
  text-align: center;
  font-size: 60px;
  letter-spacing: .05em;
  margin-bottom: 80px;
}